<div class="login-container">
  <div class="container-fluid">
    <div class="row justify-content-end">
      <!-- Use justify-content-end to align items to the end (right) -->
      <div class="container-fluid text-align-right mt-lg-5">
        <div class="row">
          <div class="col-lg-12" id="merchantPortal">RENT A CAR HUB</div>
        </div>
      </div>
      <div class="container mt-lg-5">
        <hr class="new5" />
        <div class="row justify-content-center">
          <form class="col-lg-4 bg-white p-4">
            <div class="AppFormLeft text-center">
              <div class="flex-container text-center">
                <img
                  src="../../../assets/Group 82.png"
                  alt="logo"
                  class="logoimg"
                />
                <div class="column-container">
                  <p>Car Rental Portal</p>
                  <span>Sign In</span>
                </div>
              </div>

              <div class="form-group mt-4">
                <select [(ngModel)]="selectedRole" name="selectedRole"  class="form-select" aria-label="Default select example">
                  <option selected>Select Role</option>
                  <option value="Admin">Admin</option>
                  <option value="User">User</option>
                  <option value="Partner">Partner</option>
                </select>
              </div>

              <div class="form-group mt-4">
                <input [(ngModel)]="email" name="email" type="text" class="form-input" placeholder="Enter your Email" />
              </div>

              <div class="form-group mt-4">
                <input [(ngModel)]="password" name="password" type="password" class="form-input" placeholder="Enter your password" />
              </div>
            
              <!-- Repeat the above block for other select elements -->

              <div class="mt-4">
                <button type="button"
                  (click)="goToHome()"
                  class="btn btn-success btn-block shadow text-uppercase"
                >
                  Sign In
                </button>
              </div>

              <div class="mt-4">
                <button type="button"
                  (click)="singUpClick()"
                  class="btn btn-success btn-block shadow text-uppercase"
                >
                  Sign Up
                </button>
              </div>

            </div>

            
          </form>

          <div
            class="col-lg-4 d-flex justify-content-center align-items-center p-0"
          >
            <img
              src="../../../assets/Image/image.png"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
